$breakpoint-medium: "only screen and (min-width: 992px) and (max-width: 1200px)";
$breakpoint-tablet: "only screen and (min-width: 768px) and (max-width: 991px)";
$breakpoint-mobile: "only screen and (max-width: 767px)";
$breakpoint-wide-mobile: "only screen and (min-width: 480px) and (max-width: 767px)";
