@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
/* Base CSS */
.alignleft {
  float: left;
  margin-right: 15px; }

.alignright {
  float: right;
  margin-left: 15px; }

.aligncenter {
  display: block;
  margin: 0 auto 15px; }

a:focus, input:focus, textarea:focus, button:focus {
  outline: 0 solid; }

img {
  max-width: 100%;
  height: auto; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  font-weight: 700;
  color: #3D4451; }

body {
  font-family: 'Open Sans', sans-serif;
  background: #EFEFEF; }

a:hover {
  text-decoration: none; }

.section-title {
  margin-bottom: 30px;
  text-align: center; }
  .section-title h2 {
    font-weight: 400; }

.single-timeline {
  background: #fff none repeat scroll 0 0;
  border-top: 6px solid #00CC66;
  box-shadow: 0 0 10px #dfdfdf;
  padding: 40px;
  display: inline-block;
  width: 100%;
  position: relative;
  margin-bottom: 30px; }
  .single-timeline:after {
    background: #fff;
    content: "";
    height: 50px;
    position: absolute;
    right: -4%;
    top: 10%;
    transform: rotate(45deg);
    width: 50px; }
  .single-timeline:before {
    background: #00cc66 none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    height: 14px;
    position: absolute;
    right: -10%;
    top: 15%;
    transform: rotate(45deg);
    width: 14px;
    z-index: 1; }

.timeline-heading {
  text-align: center; }
  .timeline-heading h5 {
    font-size: 16px;
    color: #00CC66; }
  .timeline-heading h3 {
    display: inline-block; }
    .timeline-heading h3 span {
      display: block;
      font-size: 16px;
      color: #9A9A9A;
      margin-top: 15px;
      font-weight: 400; }

.timeline-body {
  color: #9a9a9a;
  font-size: 16px;
  margin-top: 20px;
  text-align: left9A; }

.work-timeline {
  margin-top: 50px;
  position: relative;
  display: inline-block; }
  .work-timeline:after {
    background: #bfe8d4 none repeat scroll 0 0;
    content: "";
    height: 69%;
    left: 50%;
    margin-left: -3px;
    position: absolute;
    top: 5%;
    width: 6px; }

.timeline-left {
  padding-right: 30px; }

.timeline-right {
  padding-left: 30px;
  margin-top: 70px; }
  .timeline-right .single-timeline:after {
    left: -4%; }
  .timeline-right .single-timeline:before {
    left: -10%;
    top: 15%; }

/* ----------------------------------------------------
                    Header CSS 
 ----------------------------------------------------*/
header {
  background: #4C545F;
  padding: 70px 0; }
  header logo {
    margin-top: 4px; }
  header .main-menu {
    margin-top: 5px; }
    header .main-menu ul {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: right; }
      header .main-menu ul li {
        display: inline-block; }
        header .main-menu ul li:hover a:after {
          opacity: 1;
          visibility: visible; }
        header .main-menu ul li a {
          display: block;
          margin-left: 20px;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 13px;
          color: #ffffff;
          position: relative; }
          header .main-menu ul li a:after {
            position: absolute;
            width: 100%;
            bottom: -3px;
            left: 0;
            background: #26CC63;
            content: "";
            height: 2px;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s; }
  header .responsive-menu span {
    border: 1px solid #70767F;
    color: #ffffff;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    text-align: center; }

/* ----------------------------------------------------
                   About me CSS 
----------------------------------------------------*/
.about-me-area {
  position: relative;
  z-index: 1; }
  .about-me-area:after {
    position: absolute;
    width: 100%;
    height: 60%;
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
    background: #4C545F; }
  .about-me-area .about-me-description {
    background: #fff;
    padding: 40px; }
    .about-me-area .about-me-description .about-me-heading {
      border-bottom: 1px solid #D4D5D6;
      padding-bottom: 20px; }
      .about-me-area .about-me-description .about-me-heading h1 {
        color: #3D4451;
        margin-top: 35px;
        margin-bottom: 5px; }
        .about-me-area .about-me-description .about-me-heading h1 span {
          font-weight: 300;
          position: relative; }
          .about-me-area .about-me-description .about-me-heading h1 span:after {
            background: #26cc63 none repeat scroll 0 0;
            color: #fff;
            content: "Hello";
            font-size: 14px;
            font-weight: 700;
            height: 30px;
            left: 0;
            line-height: 30px;
            position: absolute;
            text-align: center;
            top: -30px;
            width: 70px; }
      .about-me-area .about-me-description .about-me-heading h4 {
        font-weight: 400; }
    .about-me-area .about-me-description .about-me-details {
      padding-top: 15px; }
      .about-me-area .about-me-description .about-me-details table td {
        font-size: 16px;
        line-height: 28px;
        color: #A8AAAF; }
        .about-me-area .about-me-description .about-me-details table td span {
          font-weight: 700;
          font-size: 14px;
          margin-right: 30px;
          color: #3D4451; }
        .about-me-area .about-me-description .about-me-details table td .vocation {
          color: #fff;
          background: #26CC63;
          padding: 4px;
          border-radius: 4px; }
  .about-me-area .social-media {
    background: #26CC63;
    text-align: center; }
    .about-me-area .social-media a {
      padding: 30px;
      display: inline-block;
      color: #fff;
      font-size: 20px; }
  .about-me-area .resume-to-me {
    text-align: center;
    font-size: 20px;
    padding: 30px 0; }
    .about-me-area .resume-to-me .borderd-btn {
      border: 1px solid #cbcdcf;
      color: #333;
      display: inline-block;
      font-weight: 700;
      padding: 20px 60px;
      text-align: center;
      font-size: 14px;
      color: #3D4451;
      margin-bottom: 30px; }

/* ----------------------------------------------------
                    About me CSS 
 ----------------------------------------------------*/
.professional-area .my-skill {
  padding: 40px;
  background: #ffffff;
  box-shadow: 0 0 10px #DBDBDB; }
  .professional-area .my-skill .single-progressbar .skill_text {
    margin-bottom: 5px; }
    .professional-area .my-skill .single-progressbar .skill_text .skill_per {
      position: absolute;
      right: 15px; }
  .professional-area .my-skill .single-progressbar .progress {
    background: #CCF5E0;
    height: 5px; }
    .professional-area .my-skill .single-progressbar .progress .progress-bar {
      background: #26CC63; }

/* ----------------------------------------------------
                   My Portfolio CSS 
----------------------------------------------------*/
.my-portfolio {
  padding: 50px 0; }
  .my-portfolio .portfolio-menu {
    padding-bottom: 30px;
    text-align: center; }
    .my-portfolio .portfolio-menu ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .my-portfolio .portfolio-menu ul li {
        border-bottom: 3px solid #fff;
        display: inline-block;
        padding: 10px;
        margin: -2px;
        text-transform: uppercase;
        font-weight: 700;
        transition: 0.3s;
        cursor: pointer; }
        .my-portfolio .portfolio-menu ul li:hover {
          border-color: #26CC63; }
  .my-portfolio .single-portfolio.big-height {
    height: 600px; }
    .my-portfolio .single-portfolio.big-height .potrfolio-bg h3 {
      bottom: 20%;
      left: 10%; }
  .my-portfolio .single-portfolio {
    height: 285px;
    background: #ddd;
    margin-bottom: 30px;
    position: relative; }
    .my-portfolio .single-portfolio:hover .potrfolio-bg {
      opacity: 1;
      visibility: visible; }
    .my-portfolio .single-portfolio .potrfolio-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #4C545F;
      padding: 40px;
      opacity: 0;
      visibility: hidden;
      transition: 0.3s; }
      .my-portfolio .single-portfolio .potrfolio-bg h3 {
        position: absolute;
        bottom: 25%;
        color: #fff;
        display: inline-block; }
        .my-portfolio .single-portfolio .potrfolio-bg h3 span {
          display: block;
          margin-top: 6px;
          font-size: 13px;
          font-weight: 400;
          color: #BBBDC0;
          margin-bottom: 10px; }
      .my-portfolio .single-portfolio .potrfolio-bg .hover-icon {
        position: absolute;
        bottom: 10%;
        left: 10%;
        width: 100%; }
        .my-portfolio .single-portfolio .potrfolio-bg .hover-icon a {
          width: 50px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          color: #00CC66;
          border: 1px solid #BBBDC0;
          border-radius: 4px;
          display: inline-block;
          margin: 5px;
          font-size: 20px;
          transition: 0.3s; }
          .my-portfolio .single-portfolio .potrfolio-bg .hover-icon a:hover {
            border-color: #00CC66;
            color: #fff; }

/* ----------------------------------------------------
                  My Experience CSS 
----------------------------------------------------*/
.work-experience-area {
  padding: 100px 0; }

/* ----------------------------------------------------
                  My Education CSS 
----------------------------------------------------*/
.education-area .work-timeline:after {
  top: 5%;
  height: 66%; }
.education-area .work-timeline .single-timeline .timeline-body {
  margin-top: 0; }
  .education-area .work-timeline .single-timeline .timeline-body h5 {
    background: #26cc63;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    padding: 5px;
    position: relative; }
    .education-area .work-timeline .single-timeline .timeline-body h5:after {
      border-right: 15px solid transparent;
      border-top: 15px solid #26cc63;
      bottom: -12px;
      content: "";
      height: 0;
      left: 5px;
      position: absolute;
      width: 0; }
  .education-area .work-timeline .single-timeline .timeline-body h3 {
    font-weight: 400; }
  .education-area .work-timeline .single-timeline .timeline-body p {
    font-size: 13px;
    font-weight: 300; }

/* ----------------------------------------------------
                   Client testmonial CSS 
 ----------------------------------------------------*/
.client-area {
  padding: 100px 0; }
  .client-area .client-carousel .owl-item.active.center img {
    filter: grayscale(0%);
    opacity: 1; }
  .client-area .client-carousel .single-client {
    height: 100px;
    width: 100%;
    display: table; }
    .client-area .client-carousel .single-client .single-client-table {
      display: table-cell;
      vertical-align: middle; }
      .client-area .client-carousel .single-client .single-client-table img {
        max-width: 175px;
        filter: grayscale(100%);
        opacity: 0.5; }

/* ----------------------------------------------------
                  Reference testmonial CSS 
----------------------------------------------------*/
.reference-area .reference-testmonial {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 10px #dfdfdf;
  padding: 60px 200px 40px 50px;
  position: relative; }
  .reference-area .reference-testmonial .owl-nav {
    position: absolute;
    right: 2%;
    top: 6%;
    z-index: 2; }
    .reference-area .reference-testmonial .owl-nav div {
      border: 1px solid #d8dadc;
      font-size: 25px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      width: 60px; }
      .reference-area .reference-testmonial .owl-nav div.owl-prev {
        margin-bottom: 10px; }
  .reference-area .reference-testmonial .single-reference-testmonial {
    padding-left: 50px; }
    .reference-area .reference-testmonial .single-reference-testmonial .reference-icon {
      color: #00cc66;
      font-size: 30px;
      left: 0;
      position: absolute;
      top: 0;
      z-index: 3; }
    .reference-area .reference-testmonial .single-reference-testmonial p {
      color: #73777F; }
    .reference-area .reference-testmonial .single-reference-testmonial hr {
      margin-bottom: 32px; }
    .reference-area .reference-testmonial .single-reference-testmonial img {
      float: left;
      height: 70px;
      margin-right: 20px;
      overflow: hidden;
      width: 70px; }
    .reference-area .reference-testmonial .single-reference-testmonial h3 {
      display: inline-block;
      line-height: 26px;
      overflow: hidden; }
      .reference-area .reference-testmonial .single-reference-testmonial h3 span {
        display: block;
        font-size: 14px;
        font-weight: 300;
        margin-top: 7px; }

/*# sourceMappingURL=style.css.map */
