@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus, input:focus, textarea:focus, button:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    color: #3D4451;
}
body {
    font-family: 'Open Sans', sans-serif;
    background: #EFEFEF;
}
a:hover { text-decoration: none }
.section-title{
    margin-bottom: 30px; 
    text-align: center;
    h2{
        font-weight: 400;
    }
}
.single-timeline{
    background: #fff none repeat scroll 0 0;
    border-top: 6px solid #00CC66;
    box-shadow: 0 0 10px #dfdfdf;
    padding: 40px;
    display: inline-block;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    &:after{
        background: #fff;
        content: "";
        height: 50px;
        position: absolute;
        right: -4%;
        top: 10%;
        transform: rotate(45deg);
        width: 50px;
    }
    &:before{
       background: #00cc66 none repeat scroll 0 0;
        border-radius: 50%;
        content: "";
        height: 14px;
        position: absolute;
        right: -10%;
        top: 15%;
        transform: rotate(45deg);
        width: 14px;
        z-index: 1;
    }    
}
.timeline-heading{
    text-align: center;
    h5{
        font-size: 16px;
        color: #00CC66;
    }
    h3{
        display: inline-block;
        span{
            display: block;
            font-size: 16px;
            color: #9A9A9A;
            margin-top: 15px;
            font-weight: 400;
        }
    }
}
.timeline-body{
    color: #9a9a9a;
    font-size: 16px;
    margin-top: 20px;
    text-align: left9A;
}
.work-timeline{
    margin-top: 50px;
    position: relative;
    display: inline-block;
    &:after{
        background: #bfe8d4 none repeat scroll 0 0;
        content: "";
        height: 69%;
        left: 50%;
        margin-left: -3px;
        position: absolute;
        top: 5%;
        width: 6px;
    } 
}
.timeline-left{
    padding-right: 30px; 
        
}
.timeline-right{
    padding-left: 30px; 
    margin-top: 70px;
    .single-timeline{
        &:after{
            left: -4%;
        }
        &:before{
            left: -10%;
            top: 15%;
        }
    }
}
/* ----------------------------------------------------
                    Header CSS 
 ----------------------------------------------------*/
 header{
    background: #4C545F;
    padding: 70px 0;
    logo{
        margin-top: 4px;
    }
    .main-menu{
        margin-top: 5px;
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            text-align: right;
            li{
                display: inline-block;
                &:hover a:after{
                    opacity: 1; visibility: visible;
                }
                a{
                    display: block;
                    margin-left: 20px;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 13px;
                    color: #ffffff;
                    position: relative;
                    &:after{
                        position: absolute;
                        width: 100%;
                        bottom: -3px;
                        left: 0;
                        background: #26CC63;
                        content: "";
                        height: 2px;
                        opacity: 0;
                        visibility: hidden;
                        transition: 0.3s;
                    }
                }
            }
        }
    }
    .responsive-menu{
        span{
            border: 1px solid #70767F;
            color: #ffffff;
            display: inline-block;
            width: 30px;
            height: 30px;
            line-height:30px;
            cursor: pointer;
            text-align: center;
        }
    }
 }
 /* ----------------------------------------------------
                    About me CSS 
 ----------------------------------------------------*/
 .about-me-area{
    position: relative;
    z-index: 1;
    &:after{
        position: absolute;
        width: 100%;
        height: 60%;
        content: "";
        top: 0;
        left: 0;
        z-index: -1;
        background: #4C545F;
    }
    .about-me-description{
        background: #fff;
        padding: 40px;
        img{}
        .about-me-heading{
            border-bottom: 1px solid #D4D5D6;
            padding-bottom: 20px;
            h1{
                color: #3D4451;
                margin-top: 35px;
                margin-bottom: 5px;
                span{
                    font-weight: 300;
                    position: relative;
                    &:after{
                        background: #26cc63 none repeat scroll 0 0;
                        color: #fff;
                        content: "Hello";
                        font-size: 14px;
                        font-weight: 700;
                        height: 30px;
                        left: 0;
                        line-height: 30px;
                        position: absolute;
                        text-align: center;
                        top: -30px;
                        width: 70px;
                    }
                }
            }
            h4{
                font-weight: 400;
            }
        }
        .about-me-details{
            padding-top: 15px;
            table{
                td{
                    font-size: 16px;
                    line-height: 28px;
                    color: #A8AAAF;
                    span{
                        font-weight: 700;
                        font-size: 14px;
                        margin-right: 30px;
                        color: #3D4451;

                    }
                    .vocation{
                        color: #fff;
                        background: #26CC63;
                        padding: 4px;
                        border-radius: 4px;
                    }
                }
            }
        }
    }
    .social-media{
        background: #26CC63;
        text-align: center;
            a{
                padding: 30px;
                display: inline-block;
                color: #fff;
                font-size: 20px;
            }
        }
    .resume-to-me{
        text-align: center;
        font-size: 20px;
        padding: 30px 0;
        .borderd-btn{
            border: 1px solid #cbcdcf;
            color: #333;
            display: inline-block;
            font-weight: 700;
            padding: 20px 60px;
            text-align: center;
            font-size: 14px;
            color: #3D4451;
            margin-bottom: 30px;
        }
    } 
 }
/* ----------------------------------------------------
                    About me CSS 
 ----------------------------------------------------*/
 .professional-area{
    .my-skill{
        padding: 40px;
        background: #ffffff;
        box-shadow: 0 0 10px #DBDBDB;
        .single-progressbar{
            .skill_text{
                margin-bottom: 5px;
                .skill_per{
                    position: absolute;
                    right: 15px;
                }
            }
            .progress{
                background: #CCF5E0;
                height: 5px;
                .progress-bar{
                    background: #26CC63;
                }
            }
        }

    }
 }
 /* ----------------------------------------------------
                    My Portfolio CSS 
 ----------------------------------------------------*/
 .my-portfolio{
    padding: 50px 0;
    .portfolio-menu{
        padding-bottom: 30px;
        text-align: center;
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                border-bottom: 3px solid #fff;
                display: inline-block;
                padding: 10px;
                margin: -2px;
                text-transform: uppercase;
                font-weight: 700;
                transition: 0.3s;
                cursor: pointer;
                &:hover{
                    border-color: #26CC63;
                }
            }
        }
    }
    .single-portfolio.big-height{
        height: 600px;
        .potrfolio-bg{
            h3{
                bottom: 20%;
                left: 10%;
            }
        }
    }
    .single-portfolio{
        height: 285px;
        background: #ddd;
        margin-bottom: 30px;
        position: relative;
        &:hover .potrfolio-bg{
            opacity: 1;
            visibility: visible;
        }
        .potrfolio-bg{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #4C545F;
            padding: 40px;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s;
            h3{
                position: absolute;
                bottom: 25%;
                color: #fff;
                display: inline-block;
                span{
                    display: block;
                    margin-top: 6px;
                    font-size: 13px;
                    font-weight: 400;
                    color: #BBBDC0;
                    margin-bottom: 10px;
                }
            }

            .hover-icon{
                position: absolute;
                bottom: 10%;
                left: 10%;
                width: 100%;
                a{
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    color: #00CC66;
                    border: 1px solid #BBBDC0;
                    border-radius: 4px;
                    display: inline-block;
                    margin: 5px;
                    font-size: 20px;
                    transition: 0.3s;
                    &:hover{
                    border-color: #00CC66;
                    color: #fff; 
                }
                }
            }
        }
    }
 }
 /* ----------------------------------------------------
                   My Experience CSS 
 ----------------------------------------------------*/
.work-experience-area{
    padding: 100px 0;
}
 /* ----------------------------------------------------
                   My Education CSS 
 ----------------------------------------------------*/
 .education-area{
    .work-timeline{
        &:after{
            top: 5%;
            height: 66%;
        }
        .single-timeline{
            .timeline-body{
                margin-top: 0;
                h5{
                    background: #26cc63;
                    color: #fff;
                    display: inline-block;
                    font-weight: 400;
                    padding: 5px;
                    position: relative;
                    &:after{
                        border-right: 15px solid transparent;
                        border-top: 15px solid #26cc63;
                        bottom: -12px;
                        content: "";
                        height: 0;
                        left: 5px;
                        position: absolute;
                        width: 0;                    
                    }
                }
                h3{
                    font-weight: 400;
                }
                p{
                    font-size: 13px;
                    font-weight: 300;
                }
            }
        }
    }
 }
/* ----------------------------------------------------
                   Client testmonial CSS 
 ----------------------------------------------------*/
 .client-area{
    padding: 100px 0;
    .client-carousel{
        .owl-item.active.center{
            img{
               filter: grayscale(0%);
               opacity: 1;
            }
        }
        .single-client{
            height: 100px;
            width: 100%;
            display: table;
            .single-client-table{
                display: table-cell;
                vertical-align: middle;
                img{
                    max-width: 175px;
                    filter: grayscale(100%);
                    opacity: 0.5;
                }
            }
        }
    }
 }
 /* ----------------------------------------------------
                   Reference testmonial CSS 
 ----------------------------------------------------*/
 .reference-area{
    .reference-testmonial{
        background: #fff none repeat scroll 0 0;
        box-shadow: 0 0 10px #dfdfdf;
        padding: 60px 200px 40px 50px;
        position: relative;
        .owl-nav {
          position: absolute;
          right: 2%;
          top: 6%;
          z-index: 2;
          div {
              border: 1px solid #d8dadc;
              font-size: 25px;
              height: 60px;
              line-height: 60px;
              text-align: center;
              width: 60px;
              &.owl-prev{
                margin-bottom: 10px;
              }
            }
        }
        .single-reference-testmonial{
            padding-left: 50px;
            .reference-icon{
                color: #00cc66;
                font-size: 30px;
                left: 0;
                position: absolute;
                top: 0;
                z-index: 3;
            }
            p{
                color: #73777F;
            }
            hr{
                margin-bottom: 32px;
            }
            img{
                float: left;
                height: 70px;
                margin-right: 20px;
                overflow: hidden;
                width: 70px;
            }
            h3{
                display: inline-block;
                line-height: 26px;
                overflow: hidden;
                span{
                    display: block;
                    font-size: 14px;
                    font-weight: 300;
                    margin-top: 7px;
                }
            }
        }
    }
 }